__pycache__/
*.pyc
.pytest_cache/
.coverage
.venv/
.env
.DS_Store
logfile.log

# DVC tracked directory
/data

# DVC local cache
.dvc/cache/

# Build/distribution
dist/
*.zip
!dist/
!dist/lab1_distribution.zip

# Jupyter
.ipynb_checkpoints/
