__pycache__/
*.pyc
.pytest_cache/
.coverage
.venv/
.env
.DS_Store
logfile.log

# DVC tracked directory
/data

# DVC local cache
.dvc/cache/

# Build/distribution
dist/
*.zip
!dist/
!dist/lab1_distribution.zip
!dist/lab2_distribution.zip
!dist/lab3_distribution.zip

# Jupyter
.ipynb_checkpoints/

# Local vault helper files
docker/vault/.vault_pass
docker/vault/*.tmp
